.html{
word-wrap: break-word;
white-space: pre-wrap;
}

a{text-decoration:none; color:black;}

.logo{
 text-align: left;
}

.site-title{
 background-color: #66ccff;
 text-align: center;
 color: red;
 font-size: 50px;
 height: 71.43px;
 font-weight: bolder;
 font-family: ＭＳ ゴシック;
}

.body{
 background-color: #e1faf0;
 font-size: 24px;
 margin: 5px 20px 10px 20px;
 word-break: break-word;
}

.page-tag{
 font-size: 20px;
}

.page-title{
 font-size: 50px;
 font-weight: bolder;
 background-color: #c8e7fa;
}

.page-contents{
 background-color: #ffe6e6;
 padding: 5px 10px 5px 10px;
 word-break: break-word;
 border-radius: 10px;
 border: 1px solid;
}

.contents{
 border-width: 1px 0px 0px 0px;
 border-style: solid;
 border-color: #999999;
}

.heading-box{
 font-size: 40px;
 background-color: #ffe4b3;
}

.subheading-box{
 font-size: 40px;
 background-color: #f7ccff;
}

.heading-text{
 font-size: 40px;
 font-weight: bolder;
}

.heading-hr{
 border-width: 3px 0px 0px 0px;
 border-style: solid;
 border-color: #000000;
}

.ipt{
 font-weight: bolder;
 text-decoration: underline red;
 text-decoration-thickness: 10px;
 text-decoration-skip-ink: none;
 text-underline-offset: -10px;
}

.serif{
 font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
}

.border{
 border: 1px solid;
 border-radius: 8px;
 padding: 3px;
}

.underline{
 text-decoration: underline;
 text-decoration-skip-ink: none;
}

.article{
 background-color:#ccffff;
 width:150px;
 padding:10px;
 color:black;
}

.article-text{font-size:12px;}

.code{
 background-color: #1f1f1f;
 color: #f8f8f2;
 padding: 20px;
}

/*color*/
.r{color:#f92672;} .lg{color:#a6e22e;} .b{color:#ae81ff;} .g{color:#75715e;} .y{color:#e6db74;} .w{color:#f8f8f2;}

.result-tab{
 padding: 0px 10px 0px 10px;
 background-color: #bbedce;
 height: 25px;
 border: 1px solid;
 border-bottom: transparent;
 border-top-left-radius: 8px;
 border-top-right-radius: 8px;
 position: relative;
 text-align: center;
}

.result-display{
 background-color: #fff;
 border: 1px solid;
}

.flex {
 display: flex;
 }
