body{background-color:#f0f8ff;user-select:none;}
.center{text-align:center;}
#text_click{font-size:40px;font-weight:bolder;}
#button_click{
 user-select:none;
 font-size:30px;
 text-align:center;
 margin:0 0 50px 30px;
 padding:20px;
 color:#fff;}
#button_click{
 background:#00a2ff;
 border:1px solid #00a2ff;
 color:#fff;
 transition:all .15s ease;}
#button_click:hover{
 background:#fff;
 color:#00a2ff;
 transition:all .3s ease;}
.btn{
 user-select:none;
 font-size:19px;
 text-align:center;
 background:#7fffd4;
 color:#fff;
 border:1px solid #7fffd4;
 padding:10px 20px 10px 20px;
 margin:0 0 10px 10px;
 transition:all .15s ease;}
.btn:hover{
 background:#fff;
 color:#7fffd4;
 transition:all .3s ease
}
#progress{font-size:30px;}
#progress_text{font-size:30px;margin-left:-30px;}
