<html>
 <head>
  <script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
  <link rel="stylesheet" href="https://tiger-math.github.io/yamath/page.css">
  <link rel="shortcut icon" href="ロゴ2.png">
  <div class="site-title">
   <a href="index.html" class="logo">
    <img src="https://tiger-math.github.io/yamath/logo1.svg" height="71.43" align="left">
   </a>
   <span class="serif">YAMATH</span>
  </div>
  <title>Page not found|YAMATH</title>
 </head>
 <body class="body">
  
  <h1 style="text-align:center;font-size:80px;">404</h1>
  <h2 style="text-align:center;">Page Not Found</h2>
  <p style="text-align:center;">お探しのページは見つかりませんでした</p>
  
  <div style="" class="border">
	
	<h3>お探しのページはいずれかの理由によって見つかりませんでした。</h3>
	　1.ページのURLが変更された可能性があります。<br>
	　2.ページが削除された可能性があります。<br>
	　3.アドレス(URL)のタイプミスの可能性があります。<br><br>
	
	<h3>解決方法</h3>
	　1.URLが正しく入力されているかご確認ください。<br>
	　2.<a href="index.html">ホーム</a>に戻る
	
  </div>
  
 </body>
</html>
