<html>
 <head>
  <script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
  <link rel="stylesheet" href="https://tiger-math.github.io/yamath/page.css">
  <link rel="shortcut icon" href="ロゴ2.png">
  <div class="site-title">
   <a href="index.html" class="logo">
    <img src="https://tiger-math.github.io/yamath/logo1.svg" height="60" align="left">
   </a>
   <span class="serif">YAMATH</span>
  </div>
  <title>Page not found|YAMATH</title>
 </head>
 <body class="body">
  
  <h1 style="text-align:center;font-size:80px;">404</h1>
  
  <div style="text-align:center;font-size:px;">
   <strong>Page not found</strong><br>
	お探しのページは見つかりませんでした。<br>
	
  </div>
  
 </body>
</html>
